body {
    background: #1488CC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2B32B2, #1488CC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer {
    position: relative;
    width: 100%;
    min-height: 200px;
    padding: 120px 0;
    z-index: 1;
    background: white;
}

.upm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 75px;
}

.img {
    width: 10%;
    height: 10%;
}

.footer-text {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: black;
}