{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}

<br />
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header text-center">
            <h3>Calcular Eficiencia</h3>
            <h5>(Tanda #{{id_tanda}})</h5>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <form action="/fin" method="POST">
                    <input type="hidden" name="id_tanda" value="{{id_tanda}}" />
                    <div class="form-group">
                        <input type="number" step="0.001" name="kg_teoricos" class="form-control" placeholder="Kilos teoricos" min="0" max="1000" />
                    </div>
                    <div class="form-group">
                        <input type="number" step="0.001" name="kg_reales" class="form-control" placeholder="Kilos reales" min="0" max="1000" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">
                            Terminar y Volver
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p class="text-center"><b>Importante:</b> no cerrar esta ventana o ir hacia atras. Se perderian los datos de la tanda.  </p>