<div class="jumbotron mt-4 text-center">
    <h1 class="display-4">Codan Gestion</h1>
    <p class="lead">Bienvenido, @usuario!</p>
    <hr class="my-4" />
    <a href="/start" class="btn btn-primary btn-lg">Iniciar Produccion</a>
</div>