<div class="jumbotron mt-4 text-center">
    <h1 class="display-4">Codan Gestion</h1>
    <p class="lead">Bienvenido, @usuario!</p>
    <hr class="my-4" />
    <div class="form-group">
        <a href="/start" class="btn btn-primary btn-lg">Iniciar Produccion</a><br />
    </div>
    <div class="form-group">
        <a href="/tandas" class="btn btn-success btn-lg">Buscar</a><br />
    </div>
    <div class="form-group">
        <a href="/tolerancia" class="btn btn-primary btn-lg">Calcular tolerancia</a><br />
    </div>
    <div class="form-group">
        <a href="/" class="btn btn-success btn-lg">Evolucion</a><br />
    </div>
</div>
