{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}

<br />
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header text-center">
            <h3>Comenzar Produccion</h3>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <form action="/inicio" method="POST">
                    <div class="form-group">
                        <input type="text" name="jefe" class="form-control" placeholder="Jefe de equipo" autofocus maxlength="50" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="linea" class="form-control" placeholder="Linea" maxlength="16" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="producto" class="form-control" placeholder="Producto" maxlength="25" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="id_personalizada" class="form-control" placeholder="Id (opcional)" autofocus maxlength="24" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block" type="submit">
                            Iniciar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>