<br />
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header text-center">
            <h3>Elegir producto</h3>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <form action="/cubeta" method="POST">
                    <div class="form-group">
                        <label><strong>Codigo de semiterminado</strong></label>
                        <select id="cod" type="text" name="codigo_semiterminado">
                            <option value="miniconchas">Miniconchas</option>
                            <option value="otros">Otros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-lg" type="submit">
                            Comenzar
                        </button>
                    </div>
                </form>
                <form action="/" method="GET">
                    <div class="form-group">
                        <button class="btn btn-danger btn-lg" type="submit">
                            Atras
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />